.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0 80px 29%;
  z-index: 1;
}

.searchForm__input {
  width: 608px;
  height: 64px;
  background-color: #fff;
  border-radius: 100px;
  border: none;
  padding: 0 25px;
  font-family: Roboto;
}

.searchForm__input::placeholder {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  padding: 20px 0px;
}

.searchForm__button {
  width: 170px;
  height: 66px;
  background-color: #2f71e5;
  border-radius: 100px;
  color: #fff;
  border: none;
  margin-left: -168px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.searchForm__button:hover {
  cursor: pointer;
  background-color: #347EFF;
}
.searchForm__button:focus {
  outline: none;
}

.searchForm__input:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  .searchForm {
    margin: 56px 0 62px 25%;
  }
}

@media screen and (max-width: 900px) {
  .searchForm {
    margin: 48px 0 48px 22%;
  }
  .searchForm__input {
    width: 448px;
    height: 56px;
  }
  .searchForm__button {
    width: 160px;
    height: 58px;
    margin-left: -158px;
  }
}

@media screen and (max-width: 700px) {
  .searchForm {
    margin: 48px auto 48px;
    flex-direction: column;
  }
  .searchForm__input {
    width: 280px;
    height: 56px;
  }
  .searchForm__button {
    width: 330px;
    height: 56px;
    margin: 16px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .searchForm {
    margin: 122px auto 32px;
    flex-direction: column;
  }
  .searchForm__input {
    width: 238px;
  }
  .searchForm__button {
    width: 288px;
  }
}
